@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face{
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face{
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face{
    font-family: "HammersmithOne";
    src: url("../fonts/HammersmithOne-Regular.woff") format("woff"),
    url("../fonts/HammersmithOne-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}