@media (max-width:560px){
   .sitemain-teams{
    width: 100%;
    max-height: 100vh;
    padding: 20px 0;
    background:
    linear-gradient(
        to right,
        rgba(9,5,47,0.87), 
        rgba(49,29,94,0.87)
        ),
    url("../img/bg-1.png");
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    opacity: 0.851;   
   }
   .teams-heading{
       max-width:90%;
       margin: 15px auto;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
   }
   .teams-heading__img{
       display: inline-block;
       margin: 10px auto;
       width: 45px;
   }
   .teams-heading__text{
       max-width:90%;
       margin: 5px auto;
       text-align: center;
       color:#fff;
       font-size: 16px;
       font-family: "PlayfairDisplay","Arial",sans-serif;
   }
   .text-none{
       display: none;
   }
   .teams-heading__author{
       margin: 0;
       max-width:90%;
       margin: 8px auto;
       text-align: center;
       font-size: 18px;
       color:#fff;       
   }
}
//devices
@media (min-width:1200px){
    .sitemain-teams{
        width: 100%;
        height: 60vh;
        padding: 20px 0;
        background:
        linear-gradient(
            to right,
            rgba(9,5,47,0.87), 
            rgba(49,29,94,0.87)
            ),
        url("../img/bg-1.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        opacity: 0.851;   
       }
       .teams-heading{
           max-width:90%;
           margin: 15px auto;
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
       }
       .teams-heading__img{
           display: inline-block;
           margin: 10px auto;
           width: 45px;
       }
       .teams-heading__text{
           max-width:90%;
           margin: 15px auto;
           text-align: center;
           color:#fff;
           font-size: 18px;
           font-family: "PlayfairDisplay","Arial",sans-serif;
       }
       .teams-heading__author{
           margin: 0;
           max-width:90%;
           margin: 8px auto;
           text-align: center;
           font-size: 20px;
           color:#fff;       
       }   
}