@media (max-width:560px){
    .sitemain-vedio{
        width: 100%;
        height: 60vh;
        background:
            linear-gradient(
                to right,
                rgba(9,5,47,0.87), 
            rgba(49,29,94,0.87)),
        
            url("../img/bg-2.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            opacity: 0.851;
            position: relative;
    }
    .sitemain-vedio--container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    .sitemain-vedio__play{
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        border:2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sitemain-vedio__play img{
        display: inline-block;
        padding-left: 5px;
        width: 35px;
    }
    .sitemain-vedio__header{
        max-width: 80%;
        margin: 15px auto;
        padding: 0; 
        text-align: center;
        font-size: 16px;
        color:#fff;
        font-weight: bold;     
    }
    .upper__arrow a{
        display: block;
        position: fixed;
        right: 30px;
        bottom:30px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        z-index: 10;
    }
    .upper__arrow-img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

//desktop
@media (min-width:1200px){
    .sitemain-vedio{
        width: 100%;
        height: 70vh;
        background:
            linear-gradient(
                to right,
                rgba(9,5,47,0.87), 
            rgba(49,29,94,0.87)),
        
            url("../img/bg-2.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            opacity: 0.851;
            position: relative;
    }
    .sitemain-vedio--container{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
    }
    
    .sitemain-vedio__play{
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        border:2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sitemain-vedio__play img{
        display: inline-block;
        padding-left: 5px;
        width: 35px;
    }
    .sitemain-vedio__header{
        max-width: 80%;
        margin: 15px auto;
        padding: 0; 
        text-align: center;
        font-size: 20px;
        color:#fff;
        font-weight: bold;     
    }
    
    .upper__arrow a{
        display: block;
        position: fixed;
        right: 30px;
        bottom:50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 100;
    }
    .upper__arrow-img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }   
}