@import "variables";
@import "blocks/base";
@import "font";
@import "mixin";
@import "site-header";
@import "blocks/container";
@import "blocks/sitenav__logo";
@import "blocks/sitenav__search";
@import "blocks/sitenav__lists";
@import "blocks/header-facts";
@import "blocks/site-story";
@import "sitemain-vedio";
@import "blocks/sitemain-cards";
@import "blocks/cards";
@import "blocks/projects";
@import "blocks/project__footer";
@import "sitemain-projects";
@import "blocks/sitemain-works";
@import "blocks/works";
@import "sitemain-teams";
@import "blocks/teams";
@import "blocks/sitemain-login";
@import "blocks/login__brands";
@import "footer";
@import "blocks/footer__facts";
@import "blocks/site__address";
@import "blocks/society-network";