@media (max-width:560px){
  .container{
      max-width: 90%;
      margin: 0 auto;
      padding: 0 5px;
  }
}

@media (min-width:560px){
    .container{
        max-width: 90%;
        margin: 0 auto;
        padding: 0 5px;
    }
}

@media (min-width:768px){
    .container{
        max-width: 90%;
        margin: 0 auto;
        padding: 0 5px;
    }
}

@media (min-width:980px){
    .container{
        max-width: 90%;
        margin: 0 auto;
        padding: 0 5px;
    }
}

@media (min-width:1200px){
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 5px;
    }
}