@media (max-width:560px){
    .header-facts--container{
        padding: 50px 10px;
    }
    .header-facts__heading{
        max-width:100%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 30px;
        color:#fff;
        font-family: "PlayfairDisplay","Arial",sans-serif;
        font-weight: bold;
    }
    .header-facts__text{
        max-width:100%;
        margin: 20px auto;
        text-align: center;
        color:#fff;
        font-family: "Roboto","Arial",sans-serif;
        font-size: 16px;
    }
    
    .header-facts__button{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-facts__button button{
        background: none;
        border:none;
        outline:none;
        padding: 6px 8px;
        border: 1px solid $primary-color;
        font-family: "HammersmithOne";
        font-size: 18px;
        text-align: center;
        color:$primary-color;
    }
    .header-facts__button button:hover{
        background-color: $primary-color;
        color:#fff;  
    }
    .header-facts__carusel{
        width: 30%;
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .header-facts__circle{
        width: 10px;
        height: 10px;
        border-radius:50%;
        border: 1px solid #fff;
    }
    .header-facts__circle--active{
        border:1px solid $primary-color;
    }
}

// desktop
@media (min-width:1200px){
    .header-facts{
        padding-top: 100px;
    }
    .header-facts__heading{
        max-width:100%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 35px;
        color:#fff;
        font-family: "PlayfairDisplay","Arial",sans-serif;
        font-weight: bold;
    }
    .header-facts__text{
        max-width:75%;
        margin: 20px auto;
        text-align: center;
        color:#fff;
        font-family: "Roboto","Arial",sans-serif;
        font-size: 18px;
    }
    
    .header-facts__button{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-facts__button button{
        background: none;
        border:none;
        outline:none;
        padding: 6px 8px;
        border: 1px solid $primary-color;
        font-family: "HammersmithOne";
        font-size: 18px;
        text-align: center;
        color:$primary-color;
    }
    .header-facts__button button:hover, .header-facts__button button:focus{
       background-color: $primary-color;
       color:#fff;
       cursor:pointer;
    }
    .header-facts__carusel{
        margin: 90px auto 0;
        max-width:50px;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .header-facts__circle{
        width: 10px;
        height: 10px;
        border-radius:50%;
        border: 1px solid #fff;
    }
    .header-facts__circle--active{
        // border:1px solid $primary-color;
        background-color: $primary-color;
    }   
}