@media (max-width:560px){
    .sitemain-cards--container{
        padding: 20px 10px;
    }
    
    .sitemain-cards__heading{
        max-width: 90%;
        margin: 8px auto;
        font-size: 18px;
        text-align: center;
        color:#344245;
        text-transform: uppercase;
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }
    .sitemain-cards__text{
        max-width: 100%;
        text-align: center;
        font-size: 14px;    
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }
}

@media (min-width:1200px){
    .sitemain-cards--container{
        padding: 20px 10px;
    }
    
    .sitemain-cards__heading{
        max-width: 90%;
        margin: 8px auto;
        font-size: 25px;
        text-align: center;
        color:#344245;
        text-transform: uppercase;
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }
    .sitemain-cards__text{
        max-width: 100%;
        text-align: center;
        font-size: 18px;    
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }   
}

@media (max-width:1200px){
    .sitemain-cards--container{
        padding: 20px 10px;
    }
    
    .sitemain-cards__heading{
        max-width: 90%;
        margin: 8px auto;
        font-size: 18px;
        text-align: center;
        color:#344245;
        text-transform: uppercase;
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }
    .sitemain-cards__text{
        max-width: 100%;
        text-align: center;
        font-size: 14px;    
        font-family: "PlayfairDisplay","Arial",sans-serif;
    }
}
