@media (max-width:560px)
{
    .sitenav__logo{
        display: inline-block;
        max-width: 75%;
        padding-top: 10px;
        text-decoration: none;
    }
    .sitenav__logo img{
        width: 35px;
        display: inline-block;
        vertical-align: middle; 
    }
    .sitenav__logo-text{
        font-family: "Roboto","Arial",sans-serif;
        color:$primary-color;
        font-size: 25px;
    }
    
}

@media (min-width:1200px){

    .sitenav__logo{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .sitenav__logo-text{
        text-decoration: none;
        font-family: "Roboto","Arial",sans-serif;
        color:$primary-color;
        font-size: 35px;
    }
}