@media (max-width:560px){
    .society-network{
        max-width:90%;
      margin: 10px auto 20px;
      padding: 10px 10px 20px;
    }
    .soceity__heading{
        margin: 0;
        padding: 0;
        min-width: 90%;
        margin: 5px auto;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto","Arial",sans-serif;
        color:#fff;
      }
    .society-network input{
        border:none;
        padding: 8px;
        margin-right: 8px;
        background: none;
        border:1px solid #f5f5f5;
    }
    .society-network form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }
    .soceity{
        max-width:100%;
        margin-top: 15px;
        display: flex;
        align-items: center; 
    }
    .soceity a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border:1px solid #fff;
        border-radius: 50%;
        text-decoration: none;
    }
    .soceity a img{
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    .site-litzensiya{
        margin-top: 50px;   
        float: right;
        color:#fff;
        font-family: "Roboto";
    }
}
//
@media (min-width:1200px){
    .society-network{
        width:30%;
        margin-top: 30px;
    }
    .soceity__heading{
      margin: 0;
      padding: 0;
      min-width: 90%;
      margin: 5px auto;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto","Arial",sans-serif;
      color:#fff;
    }
    .society-network input{
        border:none;
        padding: 8px;
        margin-right: 8px;
        background: none;
        border:1px solid #f5f5f5;
    }
    .society-network form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }
    .soceity{
        max-width:100%;
        margin-top: 15px;
        display: flex;
        align-items: center; 
    }
    .soceity a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border:1px solid #fff;
        border-radius: 50%;
        text-decoration: none;
    }
    .soceity a img{
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    .site-litzensiya{
        margin-top: 50px;   
        float: right;
        color:#fff;
        font-family: "Roboto";
    }
 
}