@media (max-width:560px){
    .works{
        width: 95%;
        margin: 15px auto;
       
    }
    .container-works{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    .works__list{
        width: 130px;
        height: 130px;
        background-color: #b6b6b6;
        margin-right: 5px;
    }
    .works__link-text span{
        display: none;
    }
    .list-none{
        display: none;
    }
    .list-color{
        background-color: #acacac;
    }
    .works__button{
        max-width: 50%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .works__button button{
        background: none;
        border: none;
        outline:none;
        border: 1px solid #00e0d0;
        color:#00e0d0;
        padding: 6px;
        font-family: "HammersmithOne","Arail",sans-serif;
        font-size: 16px;
    }
}

@media (min-width:1200px){
    .works{
        max-width: 95%;
        margin: 15px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .container-works{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .works__link{
        text-decoration: none;
    }
    .works__list{
        width: 180px;
        height: 180px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: #b6b6b6;
    }
    .list-none{
        display: block;
    }
    .list-color{
        background-color: #acacac;
    }
    .works__button{
        max-width: 50%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .works__button button{
        background: none;
        border: none;
        outline:none;
        border: 1px solid #00e0d0;
        color:#00e0d0;
        padding: 6px;
        font-family: "HammersmithOne","Arail",sans-serif;
        font-size: 16px;
    }
    .works__button button:hover{
        background-color: $primary-color;
        color:#fff;
        cursor:pointer;
    }
}